/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.obsidian-rag-status-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    margin-right: 4px;
    font-size: 12px;
}

.obsidian-rag-status-details {
    font-size: 12px;
    color: var(--text-muted);
}

.obsidian-rag-status-icon.is-ready {
    color: var(--color-green);
}

.obsidian-rag-status-icon.is-error {
    color: var(--color-red);
}

.obsidian-rag-status-icon.is-working {
    color: var(--color-yellow);
    animation: spin 2s linear infinite;
}

.obsidian-rag-status-icon.is-initializing {
    color: var(--color-base-50);
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
